[submodule ".config/mpv/script_modules/mpvSockets"]
	path = .config/mpv/script_modules/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule ".tmux/themes/nord-tmux"]
	path = .tmux/themes/nord-tmux
	url = https://github.com/nordtheme/tmux
[submodule ".config/ncmpcpp/ncmpcpp-ueberzug"]
	path = .config/ncmpcpp/ncmpcpp-ueberzug
	url = https://github.com/ewof/ncmpcpp-ueberzug
